<label>Server name</label>
<input type="text" class="form-control"
    (input)="onUpdateServerName($event)" />

<button class="btn btn-primary" 
[disabled]="!allowNewServer"
(click)= "onCreateServer()" >Add a new Server</button>
<p *ngIf="serverCreated"> {{ serverCreationStatus }}</p>

<label>Username: </label>
<input type="text" class="form-control" [(ngModel)]="username"/>
<p> {{ username }} </p>

<button class="btn btn-primary"
[disabled]="username === ''"
(click)="username = ''"> Reset Username </button>

<button class="btn btn-primary" (click) = "count.push(count.length + 1)" >Display Details</button>
<p *ngIf="count.length % 2 == 1"> Secret Password = tuna </p>

<p  *ngFor="let i of count" 
    [ngStyle]="{backgroundColor: i > 4 ? 'blue' : ''}"
    [ngClass]="{more5: i > 4 }"> {{ i }} </p>

<app-server *ngFor="let server of servers">  </app-server>