<div class="container">
    <div class="row">
        <input type="text" [(ngModel)]="name">
        <h3>{{ name }}</h3>

        <app-servers></app-servers>
    </div>
    
    <div class="row">
        <!-- <app-user-generator (uCreatd)="addUser($event)"> -->
        <app-user-generator>
            <div #pReference> 
                <p myDirective >Hi, I'm code from app.component with my basic directive</p> 
                <p myBetterDirective >Hi, I'm code from app.component with my better directive</p> 
            </div>
        </app-user-generator>
    </div>

    <div class="row">
    <!-- <app-custom-property *ngFor="let userElement of users" 
                                [user]="userElement"> </app-custom-property> -->
            <app-custom-property *ngFor="let userElement of users" 
                                 [userAlias]="userElement"> </app-custom-property>
    </div>        
    
    <div class="row">
        <p *myStructureDirective="4">This is a custom structure directive, I repeat the p tag n times</p>
    </div>

    <div [ngSwitch]="5">
        <p *ngSwitchCase="4"> 4 </p>
        <p *ngSwitchCase="5"> 5 </p>
        <p *ngSwitchDefault> Default </p>
    </div>
</div>